html,
body,
#root,
.App {
  height: 100%;
  background-color: #343a40;
  font-size: 0.8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:link,
a:visited {
  color: #001414;
  text-decoration: none !important;
}
a:active,
a:hover {
  -color: #fff !important;
  -background: teal;
  -padding: 1px;
}

select {
  border-color: red;
}

.select div:hover {
  background-color: teal !important;
}

::-moz-selection,
::selection,
.select-selected,
.select-items div:hover {
  color: white;
  background-color: teal !important;
}

h3 {
  font-size: 1rem;
}

.box {
  color: white;
  margin: 5px;
  padding: 15px;
  background-color: teal;
  text-align: center;
}
.box a:hover,
.box a:active {
  color: #fff !important;
  -background: teal;
}

table td {
  border-top: none !important;
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
}
.user {
  min-width: 75px;
}

/* calendar */

.rct-sidebar-row {
  color: #fff;
}
.rct-item-content {
  font-size: 0.8em;
}

/* timeline */

.member-tooltip .tooltip-inner div {
  width: 350px !important;
}
.member-tooltip .tooltip-inner {
  padding: 0 !important;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline-container::after {
  background-color: #e17b77;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;
  overflow: hidden;
}

.timeline-item-content::after {
  content: " ";
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 0.8em;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 0.8.em;
  margin: 15px 0;
  max-width: 350px;
}

.timeline-item-content a {
  font-size: 1em;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: " ►";
  font-size: 1em;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }
}

.waiting-validators .list-group-item {
  background-color: teal !important;
}

.connecting {
  background: orange;
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 5px;
}
.back {
  position: absolute;
  right: 0px;
  top: 0px;
}
.left {
  left: 0px;
}
.footer {
  background: black;
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding: 5px;
  width: 100%;
}
.footer-hidden {
  position: fixed;
  right: 0px;
  bottom: 0px;
}
